<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <variables>
        <variable name="logsdir" value="${specialfolder:folder=ApplicationData}/EnlightenPath/Logs" />
    </variables>
    <targets async="true">
        <target name="events" xsi:type="File"
                layout="[${longdate}] [${level}] ${message}${exception:format=ToString}"
                fileName="${logsdir}/events/ep-events-${shortdate}.txt"
                autoFlush="true"
                createDirs="true"
        />
        
        <target name="systems" xsi:type="File"
                layout="[${longdate}] [${level}] ${message}${exception:format=ToString}"
                fileName="${logsdir}/systems/ep-systems-${shortdate}.txt"
                autoFlush="true"
                createDirs="true"
        />
    </targets>

    <rules>
        <logger name="events" minlevel="Trace" writeTo="events" />
        <logger name="systems" minlevel="Trace" writeTo="systems" />
    </rules>
</nlog>